@media screen and (min-width: 768px) {
    .ratio-container {
        position: absolute;
        top: 0;
        left: 0;
    }
    .titre-ratio{
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        font-size: 50px;
        text-align: center;
    }
    .ratio-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 20px;
        width: 80vw;
        height: 80px;
        margin-bottom: 10px;
    }
    .ratio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .ratio-label {
        width: 80vw;
        text-align: center;
        font-size: 20px;
    }
    .ratio-input {
        width: 60vw;
        height: 30px;
        font-size: 20px;
        text-align: center;
        border: 1px solid black;
    }
    .ratio-value {
        text-align: center;
        width: 80vw;
        font-size: 20px;
    }
    .submit-button {
        width: 80vw;
        height: 80px;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: #f0f0f0;
        cursor: pointer;
        margin-top: 10px;
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .titre-ratio{
        margin-top: 30px;
    }
    .titre-ratio{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        font-size: 50px;
        text-align: center;
        height: 50px;
        max-height: 50px;
        width: 100vw;
        margin:30px 0 0 0;
    }
    /* Conteneur principal du composant */
    .ratio-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* Conteneur pour chaque groupe de label et input */
    .ratio-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 20px;
        width: 80vw;
        height: 80px;
        margin-bottom: 10px;
    }
    
    /* Label pour chaque input */
    .ratio-label {
        width: 80vw;
        text-align: center;
        font-size: 20px;
    
    }
    
    /* Champ de saisie pour les ratios */
    .ratio-input {
        width: 60vw;
        height: 30px;
        font-size: 20px;
        text-align: center;
        border: 1px solid black;
    }
    
    /* Div affichant la valeur du ratio */
    .ratio-value {
        text-align: center;
        width: 80vw;
        font-size: 20px;
    }
    
    /* Bouton d'enregistrement */
    .submit-button {
        width: 80vw;
        height: 80px;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: #f0f0f0;
        cursor: pointer;
        margin-top: 10px;
        padding: 0;
    }
    
}